@charset "UTF-8";
/**
 * 目次
 *
 * 01. Reset
 * 02. Base
 * 03. Layout
 * 04. Parts
 * 05. Responisive
 *
 */
/* ==========================================================================
   01. Reset
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* ==========================================================================
   02. Base
   ========================================================================== */
html {
  color: #000;
  font-size: 62.5%;
  overflow-y: scroll; }

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; }

/* link
   ========================================================================== */
a {
  color: #000;
  text-decoration: none; }

a:visited {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #000;
  text-decoration: underline; }

/* image
   ========================================================================== */
img {
  line-height: 1.0;
  vertical-align: bottom; }

table th img,
table td img {
  vertical-align: middle; }

/* ClearFix
   ========================================================================== */
.clear {
  clear: both; }

.clearfix,
.fbox,
#contents {
  display: block; }
  .clearfix:after,
  .fbox:after,
  #contents:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* float
   ========================================================================== */
.fr {
  float: right; }

.fl {
  float: left; }

ul.fbox li {
  float: left;
  display: inline; }

/* margin
   ========================================================================== */
.mt0 {
  margin-top: 0px !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt35 {
  margin-top: 35px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt45 {
  margin-top: 45px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt55 {
  margin-top: 55px !important; }

.mt60 {
  margin-top: 60px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mr0 {
  margin-right: 0px !important; }

.mr5 {
  margin-right: 5px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.ml0 {
  margin-left: 0px !important; }

.ml5 {
  margin-left: 5px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml15 {
  margin-left: 15px !important; }

.ml20 {
  margin-left: 20px !important; }

/* padding
   ========================================================================== */
.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

/* form label
   ========================================================================== */
input,
textarea,
label {
  vertical-align: middle; }

/* position
   ========================================================================== */
.text-r {
  text-align: right !important; }

.text-c,
table.text-c th,
table.text-c td,
table.th-c th {
  text-align: center !important; }

.text-l {
  text-align: left !important; }

/* ==========================================================================
   03. Layout
   ========================================================================== */
/* wrapper
   ========================================================================== */
/* header
   ========================================================================== */
/* navigation
   ========================================================================== */
/* side
   ========================================================================== */
/* footer
   ========================================================================== */
/* ==========================================================================
   04. Parts
   ========================================================================== */
/* ボックス
   ========================================================================== */
/* ボタン
   ========================================================================== */
/* フォーム
   ========================================================================== */
/* アイコン
   ========================================================================== */
/* リスト
   ========================================================================== */
/* その他パーツ
   ========================================================================== */
/* テーブル
   ========================================================================== */
/* タイトル
   ========================================================================== */
/* Webフォント
   ========================================================================== */
/* ==========================================================================
   05. Responisive
   ========================================================================== */
/* image
   ========================================================================== */
img {
  line-height: 1.0;
  vertical-align: bottom; }

/* display
   ========================================================================== */
.block {
  display: block; }

.sp-item {
  display: none; }

.pc-block {
  display: block; }

@media screen and (max-width: 767px) {
  .sp-item {
    display: block; }
  .pc-item {
    display: none !important; }
  .pc-block {
    display: inline; }
  .sp-block {
    display: block; } }



/* index page
   ========================================================================== */
body.page-index {
  padding: 10vh 10vw;
}
.page-index h1 {
  padding: 0;
  border-top: none;
  border-bottom: 1px solid #DDD;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  font-size: 30px;
}
.page-index ul {
  padding-left: 1em;
}
.page-index li {
  list-style: disc;
  margin-bottom: 0.7em;
  font-size: 16px;
}
